body{
    font-family: 'roboto', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.entirety{
    display: flex;
    flex-direction: column;

}
.s1{
    background-color: #1f2937;
}
.main-container-1{
    background-color: #1f2937;
    display: flex;
    flex-wrap: wrap;

}
.navbar-container{
    display: flex;
    width: 100%;
    margin-bottom: 60px;
    justify-content: space-around;
    align-items: center;
}
.navbar-container ul{
    display: flex;
    gap: 24px;
    list-style-type: none;
}
 .navbar-container a{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}
.navbar-container p{
    font-size: 24px;
    color: #f9FAF8;
}
/*code in question */
.mc1-content{
    display: flex;
    background-color: #1f2937;
    margin-left: 220px;
    margin-right: 221px;
    margin-bottom: 50px;
    align-items: center;
    justify-content:center;
    flex: 1 1 50%;
}
.mc1-text{
    width: 374px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 1 auto;
}
.mc1-paragraph{
    color: #E5E7EB;
    font-size: 18px;
    width: 400px;
    margin-bottom: 8px ;
}
.hero-header{
    font-style: bold;
    font-size: 48px;
    color: #F9FAF8;
    margin: 0;
    width: 300px;
}
.mc1-content button{
    font-size: 18px;
    background-color: #3882F6;
    border: #3882F6;
    border-radius: 4px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.mc1-img{
    width: 374px;
    display: flex;
    background-color: grey;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex:1 1 auto;
    
}

/*code in question */




.main-container-2{
display: flex;
flex-direction: row;
}

.mc2-text{
    display: flex;
    justify-content: center;

}
.mc2-text p{
    font-size: 36px;
    color: #1f2937;
}
.mc2-img .box{
    width: 150px;
    height: 150px;
    border: 2px solid #3882f6;
    border-radius: 12px;
}
.mc2-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-bottom: 6px;

}
.mc2-img-txt{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-basis: auto;
}
.boxtext{
    display: flex;
    height: 150px;
    width: 150px;
    text-align: center;
}





.main-container-3{
    background-color: #e5e7eb;
    display: flex;

}
.main-container-4{
    

}
.main-container-5{
    background-color:#1f2937

}